.app__createRegister {
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.app__createRegisterInner {
  position: relative;
  width: 25%;
  height: 50%;
  min-height: 450px;
  justify-content: start;
  flex-direction: column;
  border: 1px solid #b1b1b1;
  border-radius: 10px;
}

.app__createRegisterInner > h1 {
  margin-top: 35px;
}

.app__createRegisterInner > h3 {
  font-weight: normal;
  font-size: 27px;
  margin-top: 20px;
}

form {
  flex-direction: column;
  margin-top: 30px;
}

form > .app__registerInput {
  width: 350px;
  height: 40px;
  margin-bottom: 20px;
  border: 1px solid #808080;
  border-radius: 35px;
}

form > .app__registerInput:last-child {
  margin-bottom: 0;
}

.app__registerInput {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

form > div > input {
  width: 100%;
  height: 40px;
  padding: 0 15px;
}

.app__signInCreate {
  width: 100%;
  margin-top: 30px;
  border: none;
}

.app__signInInstead {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: #1a73e8;
}

.app__registerButton {
  width: 130px;
  height: 30px;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-weight: 600;
  background-color: #1a73e8;
  cursor: pointer;
}

@media screen and (max-width: 1500px) {
  .app__createRegisterInner {
    width: 35%;
  }

  form > div > input {
    width: 350px;
  }
}

@media screen and (max-width: 1200px) {
  .app__createRegisterInner {
    width: 40%;
  }

  form > div > input {
    width: 350px;
  }
}

@media screen and (max-width: 1150px) {
  .app__createRegisterInner {
    width: 43%;
  }

  form > div > input {
    width: 350px;
  }
}

@media screen and (max-width: 900px) {
  .app__createRegisterInner {
    width: 55%;
  }

  form > div > input {
    width: 330px;
  }
}

@media screen and (max-width: 700px) {
  .app__createRegisterInner {
    width: 100%;
    height: 100%;
    margin-top: 60px;
    justify-content: start;
    border: 0px;
  }

  .app__createRegisterInner > h3 {
    margin-top: 20px;
    font-weight: normal;
    font-size: 22px;
  }

  form {
    margin-top: 40px;
  }

  form > div > input {
    width: 400px;
    height: 100%;
    margin-top: 10px;
  }
}
