/* .app__dashboardBody {
  width: 100%;
  height: 100%;
  display: flex;
}

.app__dashboardNav {
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: 1px solid;
}

.app__dashboardMain {
  flex: 0.8;
}

.app__dashboardTitle {
  margin-bottom: 10px;
  padding: 15px 10px;
  border-bottom: 1px solid;
}

.app__dashboardHome {
  padding: 0 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.app__dashboardHomeIcon {
  margin-right: 10px;
}

.app__dashboardOptions {
  padding: 15px 10px 0 10px;
}

.app__dashboardOptions > p {
  padding-bottom: 15px;
} */

.app__dashboard {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 3% 5%;
}

.app__dashboardNav {
  max-width: 300px;
  height: 85vh;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgba(236, 236, 236, 0.507);
  padding: 1% 3%;
}

@media screen and (max-width: 1000px) {
  .app__dashboardNav {
    padding: 1% 4%;
  }
}

.app__dashboardArrow {
  color: grey;
  margin-bottom: 10px;
}

.app__dashboardArrow:hover {
  color: black;
  cursor: pointer;
}

.app__dashboardUser {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__dashboardUser > h2 {
  margin: 15px 0;
}

.app__dashboardUser > p {
  margin: 10px 0;
  padding: 15px 25px;
  background-color: rgba(159, 244, 255, 0.315);
  border-radius: 20px;
}

.app__dashboardNoUser {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* justify-content: center; */
}

.app__dashboardLink {
  color: var(--font-color-hover);
}

.app__dashboardOverview {
  height: 100vh;
  margin: 10px 0;
}

.app__dashboardOverview-review {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 25px;
  border-radius: 20px;
  background-color: #fff;
}

.app__dashboardOverview-review > span:first-child {
  margin-bottom: 10px;
}

.app__dashboardOverview-review > span:last-child {
  font-weight: 600;
  color: green;
}

.app__dashboardOverview-provider {
  margin-top: 30px;
}

.app__dashboardOverview-image {
  min-width: 200px;
  margin-top: 20px;
}

.app__dashboardLogout {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid grey;
  padding: 15px 0;
}

.app__dashboardLogoutInner {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

.app__dashboardLogoutInner:hover {
  color: var(--font-color-hover);
}

.app__dashboardMain {
  padding-left: 4%;
  width: 100%;
}

.app__dashboardMain-header {
  display: flex;
  align-items: center;
}

.app__dashboardMain > div > h1 {
  color: var(--font-color-title);
}
