.app__login {
  height: 100vh;
  width: 100%;
  display: flex;
}

.app__loginBackgroundImage {
  flex: 0.5;
  width: 100%;
  height: 100%;
  background-image: url("../../images/14a0f743bf4ed406ff39d9220cbdf730.jpg");
}
.app__loginInner {
  flex: 0.5;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.137);
}

.app__loginInner > h1 {
  margin-top: 50px;
}

.app__loginInner > h3 {
  font-weight: normal;
  font-size: 27px;
  margin-top: 20px;
}

form {
  flex-direction: column;
  margin-top: 30px;
}

form > div:first-child {
  margin-bottom: 20px;
}

.app__loginInput {
  width: 300px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 35px;
}

form > div > input {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  background: transparent;
}

.app__loginCreate {
  width: 100%;
  margin-top: 30px;
  border: 0;
}

.app__register {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: #1a73e8;
}

.app__loginButton {
  width: 70px;
  height: 30px;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-weight: 600;
  background-color: #1a73e8;
  cursor: pointer;
}

.app__forget {
  width: 100%;
  margin-top: 30px;
  text-decoration: underline;
  color: #f00;
}

@media screen and (max-width: 1500px) {
  .app__loginInner {
    width: 35%;
  }
}

@media screen and (max-width: 1200px) {
  .app__loginInner {
    width: 45%;
  }
}

@media screen and (max-width: 900px) {
  .app__loginInner {
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  .app__loginInner {
    width: 100%;
    height: 100%;
    margin-top: 60px;
    justify-content: start;
    border: 0px;
  }

  .app__loginInner > h3 {
    margin-top: 20px;
    font-weight: normal;
    font-size: 22px;
  }

  form {
    margin-top: 40px;
    flex-direction: column;
  }

  form > input {
    width: 300px;
    height: 40px;
    padding: 0 10px;
    margin-top: 10px;
    border-radius: 6px;
  }

  form > button {
    height: 38px;
    width: 70px;
    margin-top: 15px;
    border: 0;
    color: #fff;
    font-weight: 600;
    border-radius: 3px;
  }
}
