.header {
  height: 90px;
  padding: 0 150px;
  border-bottom: 1px solid black;
}

/* @media screen and (max-width: 760px) {
  .header {
  }
} */

.header__main {
  height: 100%;
}

.app__headerTitle {
  text-decoration: none;
  color: #000;
}

.app__headerButtons {
  display: flex;
  align-items: center;
}

.app__headerButtons > a {
  text-decoration: none;
  color: black;
  padding: 10px 10px;
  border: 1px solid rgb(121, 121, 121);
  border-radius: 4px;
  transition: all 0.3s;
}

.app__headerButtons > a:hover {
  color: white;
  background-color: black;
}

.app__headerSignUp {
  margin-right: 15px;
}

.app__headerAfter {
  display: flex;
  align-items: center;
}

.app__headerDashboard {
  text-decoration: none;
  color: #000;
  margin-right: 15px;
  padding: 10px 10px;
  border: 1px solid #000;
  border-radius: 4px;
  transition: all 0.3s;
}

.app__headerDashboard:hover {
  color: #fff;
  background-color: #000;
}

.app__headerProfile {
  position: relative;
}

.app__headerProfileIcon {
  border: 1px solid #000;
  border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;
}

.app__headerProfileIcon:hover {
  color: #fff;
  background-color: #000;
}

.app__headerToggleHide {
  display: none;
}

.app__headerToggleShow {
  content: "";
  z-index: 10;
  width: 130px;
  position: absolute;
  top: 50px;
  right: -40px;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: #fff;
}

.app__headerToggleShow > div {
  padding: 6px 8px;
  border-bottom: 1px solid #000;
  transition: all 0.3s;
}

.app__headerToggleShow > div:hover {
  color: #fff;
  background-color: #000;
  cursor: pointer;
}

.app__headerToggleShow > div:last-child {
  border-bottom: 0;
}
